// Cores da Marca
$color-primary: #6C63FF;
$color-secondary: #333333;
$color-text: #555555;
$color-bg-light: #f4f4f9;
$color-white: #ffffff;

// Tipografia
$font-primary: 'Poppins', sans-serif;
$font-size-base: 16px;

// Espaçamentos (Base para operadores)
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;

// Breakpoints
$breakpoint-mobile: 768px;